body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, 'Exo', 'Sora', sans-serif;
  margin: auto;
  max-width: 60rem; /* was 38 rem*/
  padding: 2rem;
  background-color: rgba(41, 112, 160, 0.315);
  border-radius: 30px;
}
#main {
  display:flex;
  justify-content: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-family:"Exo", sans-serif;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #5dbcd2;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #e7ce8f,#5dbcd2);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

label {
  font-family:"Sora";
}

#percentWin{
  font-size: 30px;
  color:rgba(241, 170, 88, 0.993);
}
.inline-div {
  display:inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.inline-label{
  resize: none;
  height:30px; /*125 px*/
  font-size: 30px;
  display: block;
  text-align: center;
}

.bottom {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#caption{
  align-items: center;
  justify-content: center;
  text-align: center;
}
#author{
  align-items:center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}